img.ligato-logo {
	padding: 0;
	border-radius: 0;
	background-color: transparent;
	display: inline;
	margin: -10px 0 0;
}

span.ligato-title {
	margin-left: 10px;
	font-size: 180%;
	font-weight: normal;
	text-shadow: 1px 1px 3px #333;
}

/* Search bar */
.wy-side-nav-search {
    background-color: #3E6D29;
}

/* Menu title format */
.wy-menu-vertical span {
    color: #65BF53;
    font-weight: bold;
}

/* Menu */
li.toctree-l1 {
	margin-bottom: 10px;
}

/* Drop-down menu */
li.toctree-l3 > a:link,
li.toctree-l3 > a:visited {
    font-weight: bold;
    color: #696969;
    margin-left: -12px;
}

/* Hyperlink setup */
a {
    color: #65BF53;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer
}

/* Menu highlight */
.wy-menu-vertical a:active {
    background-color: #65BF53;
    cursor: pointer;
    color: #ffffff;
}

/* Increase code font size (default is 75%) for better readability */
code {
    font-size: 90%;
}

