img.ligato-logo {
	padding: 0;
	border-radius: 0;
	background-color: transparent;
	display: inline;
	margin: -10px 0 0;
}

span.ligato-title {
	margin-left: 10px;
	font-size: 180%;
	font-weight: normal;
	text-shadow: 1px 1px 3px #333;
}

/* Search bar */
.wy-side-nav-search {
    background-color: #3E6D29;
}

/* Menu title format */
.wy-menu-vertical p.caption {
    color: #65BF53;
    font-weight: bold;
}

/* Menu */
li.toctree-l1 {
	/*margin-bottom: 10px;*/
}

/* Drop-down menu */
li.toctree-l3 > a:link,
li.toctree-l3 > a:visited {
    font-weight: bold;
    color: #696969;
    /*margin-left: -12px;*/
}

/* Hyperlink setup */
a {
    color: #65BF53;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer
}

/* Menu highlight */
/*.wy-menu-vertical a:active {
    background-color: #65BF53;
    cursor: pointer;
    color: #ffffff;
}*/
.wy-menu-vertical li.toctree-l2.current.navtree > a {
    background-color: #A7D877;
}

/*
    Fix fenced code block rendered in single line
*/
.hljs {
    overflow-x: auto !important;
    padding: 0.5em !important;
    color: #333 !important;
    background: #f8f8f8 !important;
}

code {
    white-space: pre !important;
    word-wrap: normal !important;
    font-size: 12px !important;
}

.codehilite {
    margin-top: -12px;
    margin-bottom: 35px;
}
/*.sqs-block {*/
    /*position: relative;*/
    /*height: auto;*/
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
    /*outline: none;*/
    /*box-shadow: inset 0 0 0 1px rgba(128,128,128,0);*/
    /*transition: box-shadow .2s ease-in-out;*/
/*}*/

.boxed {
    border: .1px solid black;
    text-align: center;
}

.toctree-l5 {
    width: 280px;
}

.swagbutton {
    background-color: #1091FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.swagbutton > a {
    color: white
}